.center {
	flex: 0 0 31.333333% !important;
	max-width: 31.333333% !important;

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.rang-rec {
		margin-left: 4px !important;
	}

	.auto-checkbox {
		width: 14% !important;
	}

	.rpet-every {
		flex: 0 0 23% !important;
		max-width: 23% !important;
	}

	.date-con-tab {
		bottom: 19px !important;
		margin-left: 18px;
	}

	.cli-name-tab {
		font-size: 12px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.rpet-every {
		flex: 0 0 15% !important;
		max-width: 15% !important;
	}
}

@media only screen and (min-width: 1200px) {
	.rpet-every {
		flex: 0 0 15% !important;
		max-width: 15% !important;
	}
}

@media only screen and (min-width: 750px) and (max-width: 899px) {

	.day-list {
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.range-tab {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.endafter-tab {
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.endby-tab {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.assigndoc-tab {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.recurrence-tab {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	// .manualdoc-assign{
	//     flex: 0 0 50%;
	// max-width: 50%;
	// }


	.selectdoc-list {
		flex: 0 0 36%;
		max-width: 36%;
	}

	// .sel-doc-tab{
	//     margin-left: -18%;
	// }

	// .select-margin-tab{
	//     margin-left: 5px !important;
	// }
	.automatic-tab {
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;

	}

	.conflict-box {
		padding-left: 0px;
		padding-right: 0px;
	}


	.doc-name-tab {
		font-size: 10px;
		font-weight: 500;
		width: 130% !important;
	}

}

@media only screen and (min-width: 1366px) {}

.spinner {
	position: fixed;
	top: 101px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #28a745 !important;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.27);

}

// .form-control {
// 	height: 20px;
// }

.docItem {
	max-height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;

}

.Conflict {
	height: 85px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid grey !important;

}

.scrollbar-primary::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: grey;
}

.line {
	border-left: 1.5px solid black;
	height: 90px;
}

.error1 {
	color: red !important;
}


.a:not([href]):not([tabindex]) {
	color: white !important;
	text-decoration: none;
}

.docSelectedItem {
	max-height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;


}

.list-group-item {
	position: relative;
	display: block;
	padding: 5px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 2px solid rgba(0, 0, 0, 0.125);
	width: 110%;
}

.doclist {
	flex-direction: column;
	margin-bottom: 0;
}

.selecteddoc {
	width: 109%;

}

.list-group-item-action:hover,
.list-group-item-action:focus {
	color: #495057 !important;
	text-decoration: none !important;
	background-color: #28a745 !important;
}

.btn {
	border: 1px solid #00000021 !important;
}

.conflict {
	margin-left: 12%;
	height: 100%;
	width: 108%;

}

.sideColor {
	width: 1%;
	height: 32px;
	border-left: none !important;
	border-left-width: 15px;
	padding: 0;
}

.search {
	margin-left: 2%;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;

}


.btn-outline-secondary {
	background-color: white !important;
	color: #6d6969;
	border-color: #6c757d;

}

.btn-outline-secondary:hover {
	background-color: #34c3ee !important;
	color: white;
	border-color: #34c3ee;

}

.btn-outline-secondary:active {
	background-color: #34c3ee !important;
}

.title {
    color: #212529;
    font-weight: 500;
    margin-bottom: 0rem !important;
}
.requ-date{
	color: red;
	font-size: 13px;
}
.line-height{
	line-height: 10px;
}

.assignment-modal{
	.radio-button-sch{
		.form-control{
			height: 28px;
			margin-bottom: 0 !important;
		}
	}
	.form-group {
		&.field {
			.date-cross-icon {
				top: 2.0625rem;
			}
		}
	}
}


.close-bold{
    padding: 0 10px 5px 10px;
    background: #343232;
    border-left: 2px solid #d3cfcf !important;
	color: #fff;
	
}
.spec-head{
	
	span{
		border: 1px solid #d3cfcf;
		border-bottom: 0;
		display: flex;
		align-items: stretch;
		justify-content: space-between;
			b{
				padding: 5px 10px;
		}
	}
}
.spec-border{
	border: 1px solid #d3cfcf;
    padding: 0 10px 10px;
}

::ng-deep .ngSelectDisabled {
	.ng-select {
		pointer-events: none;
		.ng-select-container {
		background:#e9ecef  !important;
		}
	}
}

.recurrence-wrapper {
	margin-bottom: 1rem;
	&+.recurrence-wrapper {
		margin-top: 1rem;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width:991.98px) {
		display: block;
	}
	.recurrence-left {
		width: 250px;
		.recurrence-selection {
			max-width: 120px;
		}
		.title {
			margin-left: .75rem;
		}
	}
	.recurrence-right {
		width: calc(100% - 266px);
		margin-left: 1rem;
		@media screen and (max-width:991.98px) {
			width: 100%;
			margin-left: 0;
		}
		ul {
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			li {
				list-style: none;
			}
		}
		.end-after-input {
			max-width: 80px;
			margin-bottom: 0 !important;
		}
		.date-piker-mb {
			margin-bottom: 0px !important;
		}
	}
}
.icons-wrap {
	right: 0;
}

.flex-fill-custom {
	flex: 0 1 38%;
}