.center {
	flex: 0 0 31.333333% !important;
	max-width: 31.333333% !important;
}


.title {
	color: #212529;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 0rem !important;

}

.btn-outline-secondary {
	background-color: white !important;
	color: #6d6969;
	border-color: #6c757d;
}

.btn-outline-secondary:hover {
	background-color: #34c3ee !important;
	border-color: #34c3ee;
	color: white
}

.btn-outline-secondary:active {
	background-color: #34c3ee !important;
}

.bg-green {
	background: #00a650 !important;
	color: #fff;
	height: 30px;
	width: 130px;
	padding: 6px 15px 7px !important;
}

.bg-green:hover {
	background: #039449 !important;
	color: #fff;
}

select,
input,
textarea {
	font-size: 13px;
	font-weight: 500;
	height: 30px !important;
	border-radius: .26rem;
	padding: 4px 10px;
	border: 1px solid #c6c4c4;
	color: #525252;
	background-color: #faf8f9;

}

.modal-header .close {
	padding: 0rem !important;
	margin: 0rem 0rem 0rem auto !important;
	font-size: 18px;
	padding: 8px 15px;
}
.create-scheduler-notes{
	.btn {
		min-width: 120px;
	}
}