<div *ngIf="aclService.hasPermission(userPermissions.scheduler_assignment_delete)">
    <div class="modal-header head-div">
        <h4 class="modal-title text-center">Delete Assignment</h4>
        <button type="button" class="close modal-close" data-dismiss="modal" (click)="activeModal.close()">&times;</button>
    </div>
    <form class="form-height" [formGroup]="myForm">
        <div class="modal-body madal-paddind assignment-modal pt-3">
            <div class="row">
    
                <div class="col-md-6">
                    <label class="title spc-cli-name" for="speciality">Specialty*</label>
                    <span class="tooltip-outer" tooltipClass="table-custom-tooltip tooltip-top-left" [ngbTooltip]="speciality">
    
                    <input name="class_type"  [ngModel]="specialityQualifier" disabled [ngModelOptions]="{standalone: true}" class=" input-lg t form-control" type="text" id="Speciality" />
                </span>
                </div>
    
                <div class="col-md-6">
                    <label class="title spc-cli-name" for="clinicname">Practice-Location*</label>
                    <span class="tooltip-outer" tooltipClass="table-custom-tooltip tooltip-top-left" [ngbTooltip]="clinicName">
    
                    <input name="class_type" [ngModel]=" clinicNameQualifier " disabled [ngModelOptions]="{standalone: true}" class=" input-lg t form-control" type="text" id="cname" />
               </span>
                </div>
            </div>
            <div class="row radio-button-sch">
                <div class='col-md-4 assig-tab form'>
                    <label class="fake-label-frame chkbox position-relative m-0" for="Drname">
                        <input name="radio" [value]="thisAssignment" checked [(ngModel)]="deleteForRecOrSpecCheck" [ngModelOptions]="{standalone: true}" (ngModelChange)="getappoinmentForRecOrSpecAssignment($event)" id="Drname" type="radio">
                        <span class="fake-input position-absolute"></span>
                        <span class="fake-label d-block font-weight-normal">{{thisAssignment}}</span>
                    </label>
    
                </div>
            </div>
            <div class="row radio-button-sch">
                <div class='col-md-4 subseq-assig-tab form'>
                    <label class="fake-label-frame chkbox position-relative m-0" for="clinicName">
                        <input name="radio" [value]="subsequentAssignment" [disabled]='!isSpecialityCreatedThroughRecurrence'  [(ngModel)]="deleteForRecOrSpecCheck" [ngModelOptions]="{standalone: true}"  (ngModelChange)="getappoinmentForRecOrSpecAssignment($event)" id="clinicName" type="radio">
                        <span class="fake-input position-absolute"></span>
                        <span class="fake-label d-block font-weight-normal">{{subsequentAssignment}}</span>
                    </label>
    
                </div>
            </div>
            <hr>
    
            <div class="row justify-content-center">
                <div class="edit-block col-md-12 show-entries">
                    <div class="form-group field option-field mb-2 d-inline-block">
                        <ul class="title">
                            <li>Show</li>
                            <li>
                                <select class="custom-select height-entries" [ngModelOptions]="{standalone: true}" [(ngModel)]="counter" (change)="changeNoOfEntries(counter)">
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </li>
                            <li>Entries</li>
                        </ul>
                    </div>
                    <a class="create-task" [hidden]="true" href="javascript:void(0)">
                        <span class="icon-remove me-1 fs-14"></span> <span class="fs-15">
                            Create Task ( {{numSelected}} )</span>
                    </a>
    
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <ngx-datatable class="bootstrap scroll-hide" (page)="changePage($event)" [scrollbarH]="true" [rows]="data" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="counter" [offset]="pageNumber-1">
                        <ngx-datatable-column [canAutoResize]="true" name="Date" prop="id" [width]="70">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Date
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.scheduled_date_time | date: datePipeService.slashDateFormat_MM_dd_yyyy()}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [canAutoResize]="true" name="Time" prop="id" [width]="90">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Time
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.scheduled_date_time| date: datePipeService.hourMinAmPmTimeFormat()}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [canAutoResize]="true" name="Chart ID" prop="id" [width]="70">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Chart ID
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.patient_id}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [canAutoResize]="true" name="Case No." prop="id" [width]="50">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Case No.
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                {{row.case_id}}
                            </ng-template>
                        </ngx-datatable-column>
                        
                        <ngx-datatable-column [canAutoResize]="true" name="Patient Name" prop="id" [width]="90">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Patient Name
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <ul class="custom-btn-tooltip list-unstyled ms-0">
                                    <a class="text-truncate d-block doc-firstName" href="javascript:void(0)">{{row.patient_info.first_name}}&nbsp;{{row.patient_info.middle_name}}&nbsp;{{row.patient_info.last_name}}</a>
                                    <li class="btn-tooltip-top patient-Name">
                                        <span>{{row.patient_info.first_name}}&nbsp;{{row.patient_info.middle_name}}&nbsp;{{row.patient_info.last_name}}</span>
                                        <i></i>
                                    </li>
                                </ul>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [canAutoResize]="true" name="Provider" prop="id" [width]="70">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                Provider
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <ul *ngIf="row.doctor_info" class="custom-btn-tooltip list-unstyled ms-0">
                                    <a class="text-truncate d-block doc-firstName" href="javascript:void(0)">{{row.doctor_info.first_name}}&nbsp;{{row.doctor_info.middle_name}}&nbsp;{{row.doctor_info.last_name}}</a>
                                    <li class="btn-tooltip-top patient-Name">
                                        <span>{{row.doctor_info.first_name}}&nbsp;{{row.doctor_info.middle_name}}&nbsp;{{row.doctor_info.last_name}}</span>
                                        <i></i>
                                    </li>
                                </ul>
                                <div *ngIf="!row.doctor_info" class="text-truncate">
                                    N/A
                                </div>
    
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [canAutoResize]="true" name="Actions" prop="id" [width]="70">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <mat-checkbox (change)="allSelected($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="allChecked"></mat-checkbox>
                                Actions
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <mat-checkbox *ngIf = "!row.visit_session" (change)="particularSelected($event,row)" [(ngModel)]="row.isChecked" [ngModelOptions]="{standalone: true}">
                                </mat-checkbox>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="title">Comments </label>
                    </div>
                </div>		
                
    
                <div class="row radiooptions radio-bottom radio-button-sch">
                    <div class='col-md-2 text-truncate form'>
                        <label class="fake-label-frame chkbox position-relative m-0" for="defaultCommentOption">
                            <input name="data" (click)="commentDefaultOption($event)" checked="checked" id="defaultCommentOption" type="radio">
                            <span class="fake-input position-absolute"></span>
                            <span class="fake-label d-block font-weight-normal">Default</span>
                        </label>
    
                        <!-- <input type="radio" name="data" class="form-control col-md-1 assignment-all" id="defaultCommentOption" (click)="commentDefaultOption($event)" checked="checked"> &nbsp;
                        <label class="title" for="defaultCommentOption">Default</label> -->
                    </div>
    
                    <!-- <div class="col-md-8 pe-4" [hidden]="!isOtherChecked">
                        <select class="form-select select" formControlName="defaultComments"  >
                            <option *ngFor="let com of defaultComments; let i=index" value={{com.name}}>{{com.name}}
                            </option>
                        </select>
                    </div> -->
                    
                    <div class="col-md-4" [ngClass]="{'col-md-6':isOtherChecked}">
                        <select class="form-select select" formControlName="defaultComments" (change)='commentOtherOption()' >
                            <option *ngFor="let com of defaultComments; let i=index" value={{com.name}}>{{com.name}}
                            </option>
                        </select>
                    </div>
                  
                    <!-- <div class='col-md-2 optionassigndoc-tab-automatic automatic-assign-large text-truncate form'> -->
                        <!-- <label class="fake-label-frame chkbox position-relative m-0" for="otherCommentOption">
                            <input name="data" (click)="commentOtherOption($event)"  id="otherCommentOption" type="radio">
                            <span class="fake-input position-absolute"></span>
                            <span class="fake-label d-block font-weight-normal">Other</span>
                        </label> -->
    
                        <!-- <input type="radio" name="data" class="form-control col-md-1 assignment-all" id="otherCommentOption" (click)="commentOtherOption($event)"> &nbsp;
                        <label class="title" for="otherCommentOption">Other</label> -->
                    <!-- </div> -->
    
                  
    
                    <div class="col-md-6" [hidden]="isOtherChecked">
                        <textarea type="textarea" placeholder="Enter Comments" class="form-control  form-group coments-text" formControlName="otherComments"></textarea>
                    </div>
                </div>
    
             
            </div>
            <div class=" row" *ngIf="data.length != 0">
                <div class="col-md-4">
                    <label class="title">Actions </label>
                </div>
            </div>
            <div class=" row" *ngIf="data.length != 0">
                <div class=" col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2 change-appointment">
                    <select class="form-select select height-option" (change)="changeAppointmentsAction()" [(ngModel)]="action" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let options of actions" [ngValue]="options.id">
                            {{options.name}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-4 inline-display" [hidden]="isForwardToFrontDesk">
                    <span class="tooltip-outer" tooltipClass="table-custom-tooltip tooltip-top-left" ngbTooltip="{{selectedClinic?.facility?.name}}-{{selectedClinic?.name}}">
    
                    <select class="form-select select height-option" (change)="changeOriginClinic()" [(ngModel)]="targetClinicName" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let clinicNames of clinicArray" [ngValue]="clinicNames.id
                            ">
                            <!-- {{clinicNames.facility_name}}-{{clinicNames.name}} -->
                            {{clinicNames.facility?.qualifier}}-{{clinicNames.qualifier}}
                        </option>
                    </select>
                    </span>
                </div>
                <div class="col-lg-4 col-md-4 inline-display" [hidden]="autoResolve">
                    <select class="form-select select height-option" [(ngModel)]="autoResOnClinic" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let data of autoResolveList" [value]="data.value">
                            {{data.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success w-100" [disabled]="data.length == 0" (click)="applyAppointmentAction()">Apply
                        Changes</button>
                </div>
            </div>
    
            <div class="row justify-content-center mt-3">
                <div class="col-md-2">
                    <button class="btn btn-secondary w-100" data-dismiss="modal" type="button" (click)="cancelForm()">Cancel</button>
                </div>
                <div class="col-md-2 delete-width">
                    <button class="btn btn-success w-100" [disabled]="data.length || deleteButtonStatus || disableDeleteBtn" type="submit" (click)="submitForm()">Delete</button>
                </div>
                
    
            </div>
        </div>
    
    </form>
</div>



