<div class="front-desk-block patient-info nav-tab-block master-tabs pt-3">
	<ul class="nav nav-tabs text-center" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link " id="required-fields-tab"  data-bs-toggle="tab" 
				role="tab" aria-controls="required-fields-tab" routerLinkActive="active" routerLink="/front-desk/masters/template/template/required-fields" aria-selected="false">Required fields/Controls</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" id="roles-fields-tab"  data-bs-toggle="tab" role="tab"
				aria-controls="roles-fields-tab" routerLinkActive="active" routerLink="/front-desk/masters/template/template/roles-field" aria-selected="false">Practice & Fields</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" id="roles-fields-tab"  data-bs-toggle="tab" role="tab"
				aria-controls="roles-fields-tab" routerLinkActive="active" routerLink="/front-desk/masters/template/template/header-footer" aria-selected="false">Header & Footer</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="roles-fields-tab"  data-bs-toggle="tab" role="tab"
				aria-controls="roles-fields-tab" routerLinkActive="active" routerLink="/front-desk/masters/template/template/keywords" aria-selected="false">Keywords or Tags</a>
		</li>
	</ul>
</div>


<router-outlet></router-outlet>
