<busy-loader [loaderSpin]="loadSpin"></busy-loader>
<div class="col-12 user-info px-0">
	<h4 class="my-0 color-green">Reason Code</h4>
</div>
<hr class="line-bottom">
<div class="search-filter">
	<!-- CURRENTLY NOT REQUIRED -->
	<!-- <div class="d-block">
		<button class="btn btn-default round-btn float-right" (click)="getReasonByID(viewReactionModal,action.DELETE)">
			<span class="icon-plus-circle"></span> Add New
		</button>
	</div> -->
	<app-reasonCode-filter (onFilterReasonList)="get_filtered_data($event)">
	</app-reasonCode-filter>
</div>
<div class="data-table">
	<div class="row mt-2">
		<div class="col-12 col-sm-6 edit-block text-start">
			<div class="form-group field option-field mb-2 d-inline-block">
				<ul>
					<li>Show</li>
					<li>
						<select class="custom-select" name="limit" id="limit"
							(change)="setReasonnPageSize($event.target.value)" [(ngModel)]="reasonCodePage.size">
							<option [value]="10" selected>10</option>
							<option [value]="20">20</option>
							<option [value]="30">30</option>
							<option [value]="40">40</option>
							<option [value]="50">50</option>
							<option [value]="100">100</option>
						</select>
					</li>
					<li>Entries</li>
				</ul>
			</div>
		</div>
		<div class="col-12 col-sm-6 text-end mt-0 mt-sm-2">
		</div>
	</div>
	<ngx-datatable class="bootstrap" [rows]="reasonCodeList?.result?.data" [columnMode]='"force"' [footerHeight]="50"
		[rowHeight]="'auto'" [scrollbarH]="true" [virtualization]="false" [externalPaging]="true"
		[count]="reasonCodeList?.result?.total" (page)="setReasonPageNumber($event)" [offset]="reasonOffSet"
		[limit]="reasonCodePage.size">
		<ngx-datatable-column name="Code" [sortable]="false" [canAutoResize]="true" [draggable]="false"
			[resizeable]="false" prop="code" [width]="100">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{value ? value : 'N/A'}}"
					container="body">
					{{value ? value : 'N/A'}}
				</div>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Reason Code Category Name" [sortable]="false" [canAutoResize]="true"
			[draggable]="false" [resizeable]="false" prop="reason_codes_category" [width]="250">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip"
					ngbTooltip="{{value ? value?.name : 'N/A'}}" container="body">
					{{value ? value?.name : 'N/A'}}
				</div>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Description" [sortable]="false" [canAutoResize]="true" [draggable]="false"
			[resizeable]="false" prop="description" [width]="300">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{value ? value : 'N/A'}}"
					container="body">
					{{value ? value : 'N/A'}}
				</div>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Created By" [sortable]="false" [canAutoResize]="true" [draggable]="false"
			[resizeable]="false" prop="created_by" [width]="200">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{value ? value : 'N/A'}}"
					container="body">
					{{value ? value : 'N/A'}}
				</div>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Created At" [sortable]="false" [canAutoResize]="true" [draggable]="false"
			[resizeable]="false" prop="created_at" [width]="200">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip"
					ngbTooltip="{{value ? (value  | date:datePipeService.slashDateFormat_MM_dd_yyyy()) : 'N/A'}}" container="body">
					{{value ? (value | date:datePipeService.slashDateFormat_MM_dd_yyyy()) : 'N/A'}}
				</div>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Updated By" [sortable]="false" [canAutoResize]="true" [draggable]="false"
			[resizeable]="false" prop="updated_by" [width]="200">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{value ? value : 'N/A'}}"
					container="body">
					{{value ? value : 'N/A'}}
				</div>
			</ng-template>
		</ngx-datatable-column>
		<ngx-datatable-column name="Updated At" [sortable]="false" [canAutoResize]="true" [draggable]="false"
		[resizeable]="false" prop="updated_at" [width]="200">
		<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
			<div class="tooltip-outer" tooltipClass="table-custom-tooltip"
				ngbTooltip="{{value ? (value  | date:datePipeService.slashDateFormat_MM_dd_yyyy()) : 'N/A'}}" container="body">
				{{value ? (value | date:datePipeService.slashDateFormat_MM_dd_yyyy()) : 'N/A'}}
			</div>
		</ng-template>
	</ngx-datatable-column>
		<ngx-datatable-column name="Actions" sortable="false" prop="id" cellClass="action-icon" [canAutoResize]="true"
			[draggable]="false" [resizeable]="false">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<!-- VIEW BUTTON -->
				<a class="mx-1 view-hov" ngbTooltip="View" container="body" href="javascript:void(0)" role="button"
					(click)="getReasonByID(row,viewReactionModal,action.VIEW)"><i class="icon-eye"></i></a>
				<!-- EDIT BUTTON CURRENTLY NOT REQUIRED -->
				<!-- <a class="mx-1 edit-hov" ngbTooltip="Edit" container="body" href="javascript:void(0)" role="button"
					(click)="getReasonByID(row,viewReactionModal,action.EDIT)"><i class="icon-pencil"></i></a> -->
				<!-- DELETE BUTTON CURRENTLY NOT REQUIRED -->
				<!-- <a class="mx-1 remove-hov me-1" ngbTooltip="Delete" container="body" href="javascript:void(0)"
					role="button" (click)="getReasonByID(row,viewReactionModal,action.DELETE)"><i
						class="icon-remove"></i></a> -->
			</ng-template>
		</ngx-datatable-column>
	</ngx-datatable>
</div>
<!-- MODAL -->
<ng-template #viewReactionModal let-modal>
	<div class="modal-header">
		<h4 id="dialog-static-name" class="modal-title text-capitalize">{{reasonCodeDetail.action}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<app-reasonCode-view [reasonCodeDetail]="reasonCodeDetail"></app-reasonCode-view>
	</div>
</ng-template>
