.passwordIcon{
    display: block;
    position: absolute;
    right: 0;
    font-size: 12px;
    top: 10px;
}
span{
    cursor: pointer;
    font-size: 15px;
    padding-right: 8px;
    font-weight: bolder;
}