::ng-deep .modal-report {
    .modal-content{
            max-width: 450px; 
        }
    }

    .opt-report{
        .fake-label{
            font-size: 15px;
            font-weight: 300;
        }
    }