<!-- <div id="wrapper">
	<header id="header">
		<app-main-header></app-main-header>
		<app-front-desk-navbar></app-front-desk-navbar>
	</header>
	<main id="main">
		<div class="ps-content">
			<div class="main-container">
				<div class="row user-info pt-2">
					<div class="col-12">
						<router-outlet ></router-outlet>
					</div>
				</div>
			</div>
			<footer>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>Copyrights@ovada.com</p>
					</div>
				</div>
			</footer>
		</div>
	</main>
</div> -->
<router-outlet></router-outlet>