<!-- <busy-loader [loaderSpin]="loadSpin"></busy-loader> -->

<div class="tab-pane fade show active" *ngIf="aclService.hasPermission(userPermissions.master_billing_codes_cpt_view)">
	<div>
		<div class="d-block text-end">
			<a *ngIf="aclService.hasPermission(userPermissions.master_billing_codes_cpt_add)"
				class="btn btn-default round-btn" href="javascript:void(0)" data-bs-toggle="modal"
				(click)="openModalCPT(editCPT)"><span
				class="icon-plus-circle"></span> Add New
			</a>
		</div>
		<form  class="form" action="" autocomplete="off" [formGroup]="CPTSearchForm"
			*ngIf="aclService.hasPermission(userPermissions.master_billing_codes_cpt_filter)">
			<div class="search-filter search-filter-bg-light filter-grid grid-3" [class.hide-remaining-search-filter]="!isCollapsed">
				<div class="filter-grid-container">
					<div class="form-group"
						[ngClass]="{'focused': CPTSearchForm.get('name').value != '' && CPTSearchForm.get('name').value != null }">
						<label class="form-label" for="name">Code</label>
						<input type="text" id="name" class="form-control form-input"
						formControlName="name">
					</div>
					<div class="form-group" [ngClass]="{'focused': CPTSearchForm.get('description').value != '' &&
						CPTSearchForm.get('description').value != null }">
						<label class="form-label" for="description">Description</label>
						<input type="text" id="description" class="form-control form-input"
						formControlName="description">
					</div>
					<div class="form-group" [ngClass]="{'focused': CPTSearchForm.get('comments').value != '' && CPTSearchForm.get('comments').value !=
						null }">
						<label class="form-label" for="comments">Comments</label>
						<input type="text" id="comments" class="form-control form-input"
						formControlName="comments">
					</div>
				</div>
				<div class="collape-btn">
					<button class="btn plus-btn mt-0" (click)="isCollapsed = !isCollapsed"
					[attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" [class.btn-primary]="!isCollapsed"
					[class.btn-success]="isCollapsed" type="button">
						<span class="" [class.icon-plus]="!isCollapsed" [class.icon-minus]="isCollapsed"></span>
					</button>
				</div>
				<div class="search-filter-btn-group" [class.btn-group-mrgin-top]="isCollapsed">
					<button class="btn btn-success" (click)="CPTsetPage({ offset: 0 });">Filter</button>
					<button class="btn btn-primary" (click)="resetCPT()" [disabled]="checkInputs()">Reset</button>
				</div>
			</div>
		</form>
		<!--old code-->
		<!-- <form action="" autocomplete="off" [formGroup]="CPTSearchForm"
			*ngIf="aclService.hasPermission(userPermissions.master_billing_codes_cpt_filter)">
			<div class="form">
				<div class="search-filter-body">
					<div class="row">
						<div class="col-xl-10">
							<div class="row">
								<div class="col-sm-6 col-md-4">
									<div class="form-group field"
										[ngClass]="{'focused': CPTSearchForm.get('name').value != '' && CPTSearchForm.get('name').value != null }">
										<label class="form-label" for="name">Code</label>
										<input type="text" id="name" class="form-control form-input"
											formControlName="name">
									</div>
								</div>

								<div class="col-sm-6 col-md-4">
									<div class="form-group field" [ngClass]="{'focused': CPTSearchForm.get('description').value != '' &&
										CPTSearchForm.get('description').value != null }">
										<label class="form-label" for="description">Description</label>
										<input type="text" id="description" class="form-control form-input"
											formControlName="description">
									</div>
								</div>
								<div class="col-sm-6 col-md-4">
									<div class="form-group field" [ngClass]="{'focused': CPTSearchForm.get('comments').value != '' && CPTSearchForm.get('comments').value !=
										null }">
										<label class="form-label" for="comments">Comments</label>
										<input type="text" id="comments" class="form-control form-input"
											formControlName="comments">
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-2">
							<div class="row justify-content-center mb-3 mb-xl-0">
								<div class="col-5 col-sm-3 col-md-2 col-xl-6 align-self-center">
									<button class="btn btn-success w-100 me-3" (click)="CPTsetPage({ offset: 0 });">
										Filter
									</button>
								</div>
								<div class="col-5 col-sm-3 col-md-2 col-xl-6 align-self-center">
									<button class="btn btn-primary w-100" type="button"
										(click)="resetCPT()" [disabled]="checkInputs()">Reset</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</form> -->
	</div>
	<div class="card data-table p-0 mt-2 border-0">
		<div class="row">
			<div class="col-12 col-sm-6 edit-block text-start">
				<div class="form-group field option-field mb-2 d-inline-block">
					<ul>
						<li>Show</li>
						<li>
							<select class="custom-select" name="limit" id="limit"
								(change)="CPTpageLimit($event.target.value)" [(ngModel)]="CPTpage.size">
								<option [value]="10" selected>10</option>
								<option [value]="20">20</option>
								<option [value]="30">30</option>
								<option [value]="40">40</option>
								<option [value]="50">50</option>
								<option [value]="100">100</option>
							</select>
						</li>
						<li>Entries</li>
					</ul>

				</div>


			</div>
			<div class="col-12 col-sm-6 text-end mt-0 mt-sm-2 mb-2">
				<button type="button" (click)="openCustomoizeColumn(CustomizeColumnModal)" class="btn btn-default">
					Customize Columns
				</button>

				<!-- <lib-task-manager *ngIf="CptSelection.selected.length"
					selectedProps="{{CPTstringfy(CptSelection.selected)}}" [listCount]="CptSelection.selected.length"
					type="text" page="CPTCodes">
				</lib-task-manager> -->
				<!-- <a *ngIf="CptSelection.selected.length && aclService.hasPermission(userPermissions.master_billing_codes_cpt_delete)"
                  class="btn btn-default round-btn" href="javascript:void(0)" (click)="deleteMultipleCptCode()"> <span
                    class="icon-remove me-1"></span> Delete [{{CptSelection.selected.length}}]
                </a> -->
			</div>
		</div>

		<ngx-datatable class="bootstrap" #cptCodesList [rows]="CptData" [columnMode]='"force"'
			[headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true"
			[count]="CPTpage.totalElements" [offset]="CPTpage.pageNumber" [limit]="CPTpage.size"
			(page)="CPTsetPage($event)" [virtualization]="false" [externalPaging]="true">

			<ngx-datatable-column name="Code" [sortable]="false" prop="name">
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{row.name || 'N/A'}}" container="body">
						{{row.name || 'N/A'}}</div>
				</ng-template>
			</ngx-datatable-column>

			<!-- <ngx-datatable-column name="Code Type" [sortable]="false" prop="type.name">
			</ngx-datatable-column> -->

			<ngx-datatable-column name="Description" [sortable]="false" prop="description">
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{row.description || 'N/A'}}" container="body">
						{{row.description || 'N/A'}}</div>
				</ng-template>
			</ngx-datatable-column>
			<!-- <ngx-datatable-column name="Short Description" [sortable]="false" prop="short_description">
			</ngx-datatable-column>
			<ngx-datatable-column name="Medium Description" [sortable]="false" prop="medium_description">
			</ngx-datatable-column>
			<ngx-datatable-column name="Long Description" [sortable]="false" prop="long_description">
			</ngx-datatable-column> -->
			<ngx-datatable-column name="Comments" [sortable]="false" prop="comments">
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
					<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{row.comments || 'N/A'}}" container="body">
						{{row.comments || 'N/A'}}</div>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="Actions" [width]="150" [sortable]="false">
				<ng-template ngx-datatable-header-template name="Actions">

					<mat-checkbox *ngIf="aclService.hasPermission(userPermissions.master_billing_codes_cpt_edit)"
						(change)="$event ? CptmasterToggle() : null"
						[checked]="CptSelection.hasValue() && isCptAllSelected()"
						[indeterminate]="CptSelection.hasValue() && !isCptAllSelected()" disabled>
					</mat-checkbox>
					Actions

				</ng-template>

				<ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

					<mat-checkbox *ngIf="aclService.hasPermission(userPermissions.master_billing_codes_cpt_edit)"
						(click)="$event.stopPropagation()" (change)="$event ? CptSelection.toggle(row) : null"
						[checked]="CptSelection.isSelected(row)" disabled>
					</mat-checkbox>
					<a href="javascript:void(0)"
						*ngIf="aclService.hasPermission(userPermissions.master_billing_codes_cpt_edit)"
						class="edit-hov mx-1" (click)="openModalCPT(editCPT ,row,rowIndex)" ngbTooltip="Edit" role="button"
						data-bs-toggle="modal" data-target="#edit-CPT-Code">
						<i class="icon-pencil"></i>
					</a>
					<a class="edit-hov mx-1" ngbTooltip="History" container="body" (click)="cptCodeHistoryStats(row)">
						<i class="fa fa-history"></i>
					</a>

					<!-- <lib-task-manager selectedProps="{{CPTstringfy([row])}}" type="icon" id="{{row.id}}"
						page="cptCodes">
					</lib-task-manager> -->

					<!-- <a *ngIf="aclService.hasPermission(userPermissions.'master_billing_codes_cpt_can_delete')" class="remove-hov mx-1"
                    tooltip="Delete" href="javascript:void(0)" role="button" (click)="deleteOneCptCode(row)"><i
                      class="icon-remove"></i>
                  </a> -->

				</ng-template>
			</ngx-datatable-column>

		</ngx-datatable>
	</div>
</div>

<ng-template #editCPT let-modal>
	<div class="modal-header">
		<h5 class="modal-title">{{modelTitle}} CPT Code</h5>
		<button type="button" class="close" (click)="CPTClose()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body modal-pt-15">
		<form autocomplete="" [formGroup]="cptCodesform" (ngSubmit)="onSubmitCptCodes(cptCodesform.getRawValue())">
			<div class="row">
				<div class="col-md-12 mb-1">
					<label class="form-label">CPT Code Name*</label>
					<input type="text" class="form-control mb-0" placeholder="" formControlName="name" notFirstCharactorSpace>
					<small class="form-text text-muted danger" *ngIf="cptCodesform.get('name').errors?.required && 
                          (cptCodesform.get('name').dirty || cptCodesform.get('name').touched)">This field is required</small>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12 mb-1 form-group">
					<label class="form-label"> Description</label>
					<textarea class="form-control mb-0" rows="3" formControlName="description"></textarea>
					<small class="form-text text-muted danger" *ngIf="cptCodesform.get('description').errors?.required && 
                          (cptCodesform.get('description').dirty || cptCodesform.get('description').touched)">Please
						enter description!</small>

				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
						<mat-checkbox formControlName="with_contrast">
							With Contrast
						</mat-checkbox>
				</div>
				<div class="col-md-4">
					<mat-checkbox formControlName="without_contrast"> 
						Without Contrast
					</mat-checkbox>
				</div>
				<div class="col-md-4">
					<mat-checkbox formControlName="with_without_contrast"> 
						With/Without Contrast
					</mat-checkbox>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12 mb-1 form-group">
					<label class="form-label"> Comments</label>
					<textarea class="form-control mb-3" rows="3" formControlName="comments"></textarea>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 modal-btn-width text-center">
					<button type="button" class="btn btn-primary me-3" data-dismiss="modal"
						(click)="CPTClose()">Cancel</button>
					<button type="submit" class="btn btn-success"
						[disabled]="cptCodesform.invalid || cptUpdate">{{modelSubmit}}</button>
				</div>
			</div>
		</form>
	</div>
</ng-template>

<div class="modal fade modal-scroll" bsModal #CustomizeColumnModal="bs-modal"
  [config]="{backdrop:'static',keyboard:false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" style="padding-top: 4px;">Customize Columns</h4>
        <button type="button" class="close ms-0" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-customize-column [modalCols]="modalCols" (event)="onSelectHeaders($event)" (singleSelection)="onSingleSelection($event)"></app-customize-column>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary me-2"(click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-success " (click)="onConfirm(true)">Save</button>
      </div>
    </div>
  </div>
</div>
