.strengthBar {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: 2px;
  }
  
  .point:last-of-type {
	margin: 0 !important;
  }
  
  .point {
	background: #DDD;
	border-radius: 2px;
	display: inline-block;
	height: 5px;
	margin-right: 1px;
	width: 62px;
  }
  ::ng-deep.mat-slide-toggle {
	&.mat-checked {
		.mat-slide-toggle-bar {
			background: rgba(80, 187, 94, 0.54) !important;
		}
        .mat-slide-toggle-thumb {
			background: #00a650 !important;
		}
	}
}