<div class="modal-header">
  <h5 class="modal-title">Confirm Password</h5>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body modal-pt-15">
  <form [formGroup]="form" (ngSubmit)="submit(form.value)">
      <div class="col-md-12">
        <div class="form-group row mb-1">
          <label class="form-label mb-1 ps-0" for="name">Confirm Password</label>
          <input class="form-control" type="password" formControlName="password"
            required>
        </div>
      </div>
  </form>
  <div class="row user-login-btn mt-1">
    <div class="col-12 text-center">
      <button class="btn btn-primary me-3" (click)="close()">Cancel</button>
      <button class="btn btn-success" type="submit" (click)="submit(form.value)" [disabled]="disableBtn || !form.valid">Continue</button>
    </div>
  </div>
</div>
