
<!-- <div [ngClass]="{'modal-backdrop show fade': showModal }"></div>
<div class="modal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Facility</h4>
            
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Select Facility</label>
                        <select class="form-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-12 modal-btn-width text-center mt-3">
                            <button (click)="modalHide()" class="btn btn-success me-3" type="button">Save</button>
                            <button (click)="logout()" class="btn btn-outline-secondary" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div> -->

<!-- <button class="btn btn-lg btn-success mt-4" (click)="open(dashboard)">Demo</button> -->



<!-- 

<div class="main-container h-100">
        <div class="col-12 h-100">
                <h1>
                    Dashboard
                </h1>
        </div>
    </div>
    
     -->