.customize-screen{
    border: none;
    background:none;
    // width: 200px;
    // height: 32px;
}
.customize-two{
    border: none;
    background:none;
    width: 189px;
    height: 32px;
    padding-right: 13px !important;
    margin-left: 9px;
    text-align: center;
}
