<!-- <busy-loader [loaderSpin]="loadSpin"></busy-loader> -->
<div *ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_view)">
	<div class="d-block text-end">
		<a class="btn btn-default round-btn" href="javascript:void(0) "
			*ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_add)"
			(click)="openModal(billingemploymenttypemodal)"><span class="icon-plus-circle"></span> Add New 
		</a>
	</div>
	<form class="form" action="" autocomplete="off" [formGroup]="employmentTypeSearchForm" *ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_filter)">
		<div class="search-filter search-filter-bg-light filter-grid grid-2" [class.hide-remaining-search-filter]="!isCollapsed">
            <div class="filter-grid-container">
				<div class="form-group"
					[ngClass]="{'focused': employmentTypeSearchForm.get('name').value != '' && employmentTypeSearchForm.get('name').value != null }">
					<label class="form-label" for="name">Billing Employment Type</label>
					<input type="text" id="name" class="form-control form-input" formControlName="name">
				</div>
				<div class="form-group"
					[ngClass]="{'focused': employmentTypeSearchForm.get('description').value != '' && employmentTypeSearchForm.get('description').value != null }">
					<label class="form-label" for="description">Comments</label>
					<input type="text" id="description" class="form-control form-input" formControlName="description">
				</div>
			</div>
			<div class="collape-btn">
                <button class="btn plus-btn mt-0" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" [class.btn-primary]="!isCollapsed"
                [class.btn-success]="isCollapsed" type="button">
                    <span class="" [class.icon-plus]="!isCollapsed" [class.icon-minus]="isCollapsed"></span>
                </button>
            </div>
            <div class="search-filter-btn-group" [class.btn-group-mrgin-top]="isCollapsed">
                <button class="btn btn-success" (click)="setpage({ offset: 0 })">Filter</button>
                <button class="btn btn-primary" (click)="resetFilter()" [disabled]="checkInputs()">Reset</button>
            </div>
		</div>					
	</form>
	<!-- <form action="" autocomplete="off" [formGroup]="employmentTypeSearchForm"
		*ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_filter)">
		<div class="form">
			<div class="search-filter-body">
				<div class="row">
					<div class="col-xl-10">
						<div class="row">
							<div class="col-6">
								<div class="form-group field"
									[ngClass]="{'focused': employmentTypeSearchForm.get('name').value != '' && employmentTypeSearchForm.get('name').value != null }">
									<label class="form-label" for="name">Billing Employment Type</label>
									<input type="text" id="name" class="form-control form-input" formControlName="name">
								</div>
							</div>
							<div class="col-6">
								<div class="form-group field"
									[ngClass]="{'focused': employmentTypeSearchForm.get('description').value != '' && employmentTypeSearchForm.get('description').value != null }">
									<label class="form-label" for="description">Comments</label>
									<input type="text" id="description" class="form-control form-input" formControlName="description">
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2">
						<div class="row justify-content-center mb-3 mb-xl-0">
							<div class="col-5 col-sm-3 col-md-2 col-xl-6 align-self-center">
								<button class="btn btn-success w-100 me-3" (click)="setpage({ offset: 0 })">
									Filter
								</button>
							</div>
							<div class="col-5 col-sm-3 col-md-2 col-xl-6 align-self-center">
								<button class="btn btn-primary w-100" (click)="resetFilter()" [disabled]="checkInputs()">Reset</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form> -->
</div>
<div class="card data-table border-0 p-0 mt-2"
	*ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_view)">
	<div class="row">
		<div class="col-12 col-sm-6 edit-block text-start">
			<div class="form-group field option-field mb-2 d-inline-block">
				<ul>
					<li>Show</li>
					<li>

						<select class="custom-select" name="limit" id="limit" (change)="pageLimit($event.target.value)" [(ngModel)]="page.size">
							<option [value]="10" selected>10</option>
							<option [value]="20">20</option>
							<option [value]="30">30</option>
							<option [value]="40">40</option>
							<option [value]="50">50</option>
							<option [value]="100">100</option>
						</select>
					</li>
					<li>Entries</li>
				</ul>

			</div>


		</div>
		<div class="col-12 col-sm-6 text-end mt-0 mt-sm-2 mb-2">
			<button type="button" (click)="openCustomoizeColumn(CustomizeColumnModal)" class="btn btn-default">
				Customize Columns
			</button>

			<!-- <lib-task-manager *ngIf="selection.selected.length" selectedProps="{{stringfy(selection.selected)}}"
				[listCount]="selection.selected.length" type="text" page="employment">
			</lib-task-manager> -->
			<!-- <a href="javascript:void(0)" class="btn btn-default round-btn" (click)="deleteMultipleRegion()"
                  *ngIf="selection.selected.length">
                  <span class="icon-remove me-1"></span> Delete [{{selection.selected.length}}]
                </a> -->

			<!-- <a href="javascript:void(0)" *ngIf="selection.selected.length"
                                    style="color:#fff; padding: 6px 22px; margin-right: 10px !important;  margin-top: 15px; background: #00a650; border-color:#00a650;">
                                        <img class="me-2" style="width:16px;" src="assets/images/task.png"> <span style="font-size: 15px;">
                                          {{selection.selected.length}}  Create Task</span>
                                    </a> -->
		</div>
	</div>
	<ngx-datatable class="bootstrap" #billingEmpTypeList [rows]="employmentTypeListing" [columnMode]='"force"'
		[footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [virtualization]="false" [scrollbarH]=" true"
		[count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" [externalPaging]="true"
		(page)="setpage($event)">

		<ngx-datatable-column name="Billing Employment Type" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
			<ng-template ngx-datatable-cell-template let-row="row">
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{row.name}}" container="body">
					{{row.name}}</div>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Comments" [sortable]="false" prop="description" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
			<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				<div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{row.description}}" container="body">
					{{row.description}}</div>
			</ng-template>
		</ngx-datatable-column>
		  
		<ngx-datatable-column name="Actions" [width]="150" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" cellClass="action-icon">
			<ng-template ngx-datatable-header-template name="Actions">

				<mat-checkbox *ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_edit)"
					(change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
					[indeterminate]="selection.hasValue() && !isAllSelected()" disabled>
				</mat-checkbox>
				Actions

			</ng-template>

			<ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

				<mat-checkbox *ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_edit)"
					(click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
					[checked]="selection.isSelected(row)" disabled>
				</mat-checkbox>
				<a *ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_edit)" class="edit-hov mx-1"
					ngbTooltip="Edit" container="body" (click)="openModal(billingemploymenttypemodal,row,rowIndex)"
					href="javascript:void(0)" role="button"><i class="icon-pencil"></i></a>
					<a class="edit-hov mx-1" ngbTooltip="History" container="body" (click)="billingEmploymentHistoryStats(row)">
						<i class="fa fa-history"></i>
					</a>
				<!-- <lib-task-manager selectedProps="{{stringfy([row])}}" type="icon" id="{{row.id}}" page="employment">
				</lib-task-manager> -->

				<!-- <a class="tasks-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button"><i class="fa fa-tasks"></i></a> -->
				<!-- <a *ngIf="aclService.hasPermission(userPermissions.master_bb_emp_type_delete)" class="remove-hov mx-1"
                    tooltip="Delete" (click)="oneRegionRecordDeleted(row)" href="javascript:void(0)" role="button">
                    <span class="icon-remove"></span></a> -->
			</ng-template>
		</ngx-datatable-column>

	</ngx-datatable>
</div>
<ng-template #billingemploymenttypemodal let-modal>
	<div class="modal-header">
		<h5 class="modal-title">{{modelTitle}} Billing Employment Type Name</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body modal-pt-15">
		<form autocomplete="" [formGroup]="employmentTypeForm" (ngSubmit)="onFormSubmit(employmentTypeForm.value)">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group field"
						[ngClass]="{'focused': employmentTypeForm.get('name').value != '' && employmentTypeForm.get('name').value != null }">
						<label class="form-label">Billing Employment Type Name*</label>
						<input type="text" class="form-control mb-0" placeholder=""
							formControlName="name" notFirstCharactorSpace>
						<small class="form-text text-muted danger" *ngIf="employmentTypeForm.get('name').errors?.required && 
                        (employmentTypeForm.get('name').dirty || employmentTypeForm.get('name').touched)">This field is required</small>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group field mb-1"
						[ngClass]="{'focused': employmentTypeForm.get('description').value != '' && employmentTypeForm.get('description').value != null }">
						<label class="form-label">Comments</label>
						<textarea class="form-control mb-3" rows="3" formControlName="description"
							style="height:3.75rem !important;" notFirstCharactorSpace></textarea>
						<small class="form-text text-muted danger"
							*ngIf="employmentTypeForm.get('description').errors?.required && 
                        (employmentTypeForm.get('description').dirty || employmentTypeForm.get('description').touched)">Please enter
							comments!</small>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 modal-btn-width text-center">
					<button type="button" class="btn btn-primary me-3" data-dismiss="modal"
						(click)="closeModel()">Cancel</button> 
					<button class="btn btn-success" type="submit"
						[disabled]="employmentTypeForm.invalid || disableBtn">{{ disableBtn == false ? modelSubmit : modelSubmit }}</button>
				</div>
			</div>
		</form>
	</div>
</ng-template>

<div class="modal fade modal-scroll" bsModal #CustomizeColumnModal="bs-modal"
  [config]="{backdrop:'static',keyboard:false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" style="padding-top: 4px;">Customize Columns</h4>
        <button type="button" class="close ms-0" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-customize-column [modalCols]="modalCols" (event)="onSelectHeaders($event)" (singleSelection)="onSingleSelection($event)"></app-customize-column>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary me-2"(click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-success " (click)="onConfirm(true)">Save</button>
      </div>
    </div>
  </div>
</div>
