<div class="front-desk-block patient-info">
  <ul class="nav nav-tabs md-nav-tabs" id="myTab" role="tablist">
    <li class="nav-item mt-2 mt-sm-0" *ngFor="let link of tabLinks"> 
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
        [routerLink]="[link.link]">{{link.name}}<button *ngIf="(visitType=='reEvaluation' || visitType=='followUp') && currentScreen ==link.slug && mainService.isenableSaveRecordMedicalDoctor()" (click)="toggleCarryForward(link)"
          class="btn btn-light carry-farword"><span class="icon-carry"></span></button></a>
    </li>
  </ul>
</div>
