<app-mri-intake1-form [title]="'Surgical Information'" (setVisitSessionId)="setVisitSessionId($event)"
    [visitSessionId]="visitSessionId" [caseId]="caseId" [caseData]="caseData" [patientId]="patientId"
    (getCase)="getCase()"></app-mri-intake1-form>
<app-mri-intake2-form [title]="'Medical History Information'" [visitSessionId]="visitSessionId" [caseId]="caseId"
    [caseData]="caseData" (getCase)="getCase()"></app-mri-intake2-form>
<app-mri-symptoms-form [title]="'MRI Symptoms'" [caseId]="caseId" [caseData]="caseData" (getCase)="getCase()">
</app-mri-symptoms-form>