.row{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.form-control{
    padding: 0 !important;
}
.app-scheduling-queue{
    .row{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}