$picton-blue: #34c3ee;
$thunder: #241f20;
$green-haze: #00a650;
$black-light: #4b4b4b;

// Master user profile information colors, bg colors, border colors
$master-user-image-border-color: $picton-blue;
$master-user-header-text-color: $thunder;
$master-user-info-text-color: $green-haze;
$master-user-icon-color: $black-light;
$master-basic-info-text-color: $black-light;
// Extra line space
$master-user-line-space-color: $thunder;