// parent and child datatable backgrounds colors and border color
$skeptic: #d5eae0;
$light-pumice: #b7b8b7;
$picton-blue: #34c3ee;
$powder-ash: #bbcbbb;
$tundora: #4b4b4b;
$whisper: #eeeeee;
$white: #fff;
$emperor: #525252;

$parent-datatable-body-bg-color: $skeptic;
$parent-datatable-body-border-color: $light-pumice;
$parent-datatable-body-icon-left-down-arrow-color: $picton-blue;
$parent-datatable-body-border-right-color: $powder-ash;
$child-datatable-main-border-left-color: $powder-ash;
$child-datatable-main-border-right-color: $powder-ash;
$child-datatable-main-border-bottom-color: $picton-blue;
$child-datatable-header-border-top-color: $powder-ash;
$child-datatable-header-border-right-color: $powder-ash;
$child-datatable-header-text-color: $tundora;
$child-datatable-header-bg-color: $whisper;
$child-datatable-header-first-left-border-color: $powder-ash;
$child-datatable-header-last-right-border-color: $powder-ash;
$child-datatable-body-bg-color: $white;
$child-datatable-body-border-color: $powder-ash;
$child-datatable-body-border-top-color: $powder-ash;
$child-datatable-footer-bg-color: $emperor;
$child-datatable-footer-text-color: $white;
$create-bill-modal-datatable-body-bg-color: $skeptic;