

    <div class="front-desk-block referrals-info">
        
        	<div class="media user-info">
                    <img class="user-img" src="assets/images/user.png" alt="user">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-md-7">
                                    <h5 class="mt-0">John Smith  <small><span>(</span> 46 Year old   <span class="line-space">|</span>   Sept.   10, 1971   <span class="line-space">|</span>   Male <span>)</span></small></h5>
                            </div>
                            <div class="col-md-5">
                                    <ul class="nav justify-content-xl-end justify-content-center patient-id">
                                            <li>
                                               <div class="btn custom-tooltip">
                                                  Patient ID
                                                  <div class="custom-tooltip-bottom">
                                                     <span>Patient Id:  124</span>
                                                     <hr>
                                                     <span>Patient Name: John Smith</span>
                                                     <hr>
                                                     <span>Insurance Name: Jubliee </span>
                                                     <i></i>
                                                  </div>
                                               </div>
                                            </li>
                                            <li><span>/</span></li>
                                            <li>
                                               <div class="btn">Cases
                                               </div>
                                            </li>
                                            <li><span>/</span></li>
                                            <li>
                                               <div class="btn">Specific Case
                                               </div>
                                            </li>
                                         </ul>
                            </div>
                            <div class="col-md-12">
                                    <ul>
                                            <li>
                                               <img src="assets/images/call.png" alt="call">
                                               <span> 415 555 2671</span>
                                            </li>
                                            <li>
                                               <img src="assets/images/envelope.png" alt="envelope">
                                               <span> email@example.com</span>
                                            </li>
                                            <li>
                                               <span class="font-600">D.O.A:</span> <span>May 09, 2018</span>  			
                                             </li>
                                            <li>
                                                <span class="font-600">Last Appt:</span> <span>Thu May 30, 2019</span>
                                             </li>
                                            <li>
                                                <span class="font-600">Next Appt:</span> <span>Thu Aug 31, 2019</span>
                                             </li>
                                         </ul>
                                </div>
                                
                        </div>
                    </div>	
            </div>
                <hr class="line-bottom">
    
                <div class="row">
                        <div class="col-md-12">
                            <nav class="left-nav p-0 mt-2">
                              <ul class="list-unstyled">
                                <li class="button--wayra">
                                <a class="d-block" href="javascript:void(0)">Patient Summary</a>
                                </li>
                                <li class="button--wayra">
                                  <a class="d-block" href="javascript:void(0)">Patient Information</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Insurance</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Injury</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Referrals</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Documents</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Scheduler</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Billing</a>
                                </li>
                                <li class="button--wayra active">
                                    <a class="d-block" href="javascript:void(0)">Collection</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Marketing</a>
                                </li>
                                <li class="button--wayra">
                                    <a class="d-block" href="javascript:void(0)">Comments</a>
                                </li>
                              </ul>
                            </nav>
                            
                        </div>
                      </div>
      
        <ul class="nav nav-tabs mt-1" id="myTab" role="tablist">
           <li class="nav-item">
            <a class="nav-link active" id="payments-tab" data-bs-toggle="tab" href="#payments-desk" role="tab" aria-controls="payments-desk" aria-selected="true">Payments</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" id="EOB-tab" data-bs-toggle="tab" href="#EOB" role="tab" aria-controls="EOB" aria-selected="false">EOB</a>
           </li>

           <li class="nav-item">
                <a class="nav-link" id="verification-tab" data-bs-toggle="tab" href="#verification" role="tab" aria-controls="verification" aria-selected="false">Verification</a>
               </li>

               <li class="nav-item">
                    <a class="nav-link" id="denial-tab" data-bs-toggle="tab" href="#denial" role="tab" aria-controls="denial" aria-selected="false">Denial</a>
                   </li>
        </ul>
      
       <div class="tab-content" id="myTabContent">
           <div class="tab-pane fade show active" id="payments" role="tabpanel" aria-labelledby="payments-tab">
                <div class="card">
                 
                      
                       <div class="card-body">
                                
                                  <p>Payments</p>
                       </div>
                    
                      </div>
           </div>
           <div class="tab-pane fade" id="EOB" role="tabpanel" aria-labelledby="EOB-tab">
                <div class="card">
                 
                      
                       <div class="card-body">
                                
                                  <p>EOB</p>
                       </div>
                    
                      </div>
           </div>

           <div class="tab-pane fade" id="verification" role="tabpanel" aria-labelledby="verification-tab">
                <div class="card">
                 
                      
                       <div class="card-body">
                                
                                  <p>Verification</p>
                       </div>
                    
                      </div>
             </div>

             <div class="tab-pane fade" id="denial" role="tabpanel" aria-labelledby="denial-tab">
                    <div class="card">
                 
                          
                           <div class="card-body">
                                    
                                      <p>Denial</p>
                           </div>
                        
                          </div>
                 </div>

           
        </div> 
        
        <footer>
            <div class="row">
                <div class="col-md-12 text-center">
                        <p>Copyrights@ovada.com</p>
                </div>
            </div>
        </footer>  
    
    </div>