<!-- <busy-loader [loaderSpin]="loadSpin"></busy-loader> -->
<div class="tab-pane fade show active" id="Plan-Name" role="tabpanel" aria-labelledby="Plan-Name-tab"
  *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_view)">
    <div class="d-block text-end">
        <button type="button" (keydown.enter)="$event.preventDefault()"
            *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_add)"
            class="btn btn-default round-btn" href="javascript:void(0)" data-bs-toggle="modal"
            (click)="planNameOpenModal(plan_name)">
            <span class="icon-plus-circle"></span>Add New 
      </button>
    </div>
    <form class="form mb-2" autocomplete="off" [formGroup]="searchForm" *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_filter)">
        <div class="search-filter search-filter-bg-light filter-grid grid-2" [class.hide-remaining-search-filter]="!isCollapsed">
            <div class="filter-grid-container">
                <div class="form-group" [ngClass]="{'focused': searchForm.get('plan_name').value != '' && searchForm.get('plan_name').value != null }">
                    <label class="form-label" for="plan_name">Plan Name</label>
                    <input type="text" id="plan_name" class="form-control form-input" formControlName="plan_name">
                </div>
                <div class="form-group" [ngClass]="{'focused': searchForm.get('comments').value != '' && searchForm.get('comments').value != null }">
                    <label class="form-label" for="comments">Comments</label>
                    <input type="text" id="comments" class="form-control form-input" formControlName="comments">
                </div>
            </div>
            <div class="collape-btn">
                <button class="btn plus-btn mt-0" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" [class.btn-primary]="!isCollapsed"
                [class.btn-success]="isCollapsed" type="button">
                    <span class="" [class.icon-plus]="!isCollapsed" [class.icon-minus]="isCollapsed"></span>
                </button>
            </div>
            <div class="search-filter-btn-group text-center" [class.btn-group-mrgin-top]="isCollapsed">
                <button class="btn btn-success" (click)="planNameSetPage({ offset: 0 });">Filter</button>
                <button class="btn btn-primary" (click)="resetPlanName()" [disabled]="checkInputs()">Reset</button>
            </div>
        </div>
   </form>
  <!-- <div class="search-filter mb-2">
    <div class="d-block">
      <button type="button" (keydown.enter)="$event.preventDefault()"
        *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_add)"
        class="btn btn-default round-btn float-right" href="javascript:void(0)" data-bs-toggle="modal"
        (click)="planNameOpenModal(plan_name)">
		<span class="icon-plus-circle"></span>Add New 
      </button>
    </div>
    <form autocomplete="off" [formGroup]="searchForm"
      *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_filter)">
      <div class="form">
        <div class="search-filter-body">
          <div class="row">
            <div class="col-xl-10">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group field"
                    [ngClass]="{'focused': searchForm.get('plan_name').value != '' && searchForm.get('plan_name').value != null }">
                    <label class="form-label" for="plan_name">Plan Name</label>
                    <input type="text" id="plan_name" class="form-control form-input" formControlName="plan_name">
                  </div>
				</div>
				<div class="col-sm-6">
                  <div class="form-group field"
                    [ngClass]="{'focused': searchForm.get('comments').value != '' && searchForm.get('comments').value != null }">
                    <label class="form-label" for="comments">Comments</label>
                    <input type="text" id="comments" class="form-control form-input" formControlName="comments">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2">
              <div class="row justify-content-center mb-3 mb-xl-0">
                <div class="col-5 col-sm-3 col-md-2 col-xl-6 align-self-center">
                  <button class="btn btn-success w-100 me-3" (click)="planNameSetPage({ offset: 0 });"> Filter
                  </button>
                </div>
                <div class="col-5 col-sm-3 col-md-2 col-xl-6 align-self-center">
                  <button class="btn btn-primary w-100" (click)="resetPlanName()" [disabled]="checkInputs()">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div> -->
  <div class="card data-table p-0 border-0">
    <div class="overflow-hidden">
      <div class="edit-block float-left">
        <div class="form-group field option-field mb-2 d-inline-block">
          <ul>
            <li>Show</li>
            <li>

              <select class="custom-select" name="limit" id="limit" (change)="planNamePageLimit($event.target.value)" [(ngModel)]="planNamePage.size">
                <option [value]="10" selected>10</option>
                <option [value]="20">20</option>
                <option [value]="30">30</option>
                <option [value]="40">40</option>
                <option [value]="50">50</option>
                <option [value]="100">100</option>
              </select>
            </li>
            <li>Entries</li>
          </ul>

        </div>

      </div>
      <div class="sm-btn-m0 float-right mt-2 mb-2">
        <button type="button" (click)="openCustomoizeColumn(CustomizeColumnModal)" class="btn btn-default">
					Customize Columns
				</button>

        <!-- <lib-task-manager *ngIf="planSelection.selected.length "
          selectedProps="{{PlanNamestringfy(planSelection.selected)}}" type="text" page="plan_name"
          listCount="{{planSelection.selected.length}}">
        </lib-task-manager> -->

        <!-- <a href="javascript:void(0)" class="btn btn-default round-btn"
									(click)="deleteMultiplPlanName()"
									*ngIf="planSelection.selected.length && aclService.hasPermission(userPermissions.master_billing_plan_name_delete)">
									<span class="icon-remove me-1"></span>
									Delete [{{planSelection.selected.length}}]
								</a> -->

        <!-- <a href="javascript:void(0)"  *ngIf="planSelection.selected.length"
                                   style="color:#fff; padding: 6px 22px; margin-right: 10px !important;  margin-top: 15px; background: #00a650; border-color:#00a650;">
                                      <img class="me-2" style="width:16px;" src="assets/images/task.png"> <span style="font-size: 15px;">
                                        {{planSelection.selected.length}} Create Task</span>
                                  </a> -->
      </div>
    </div>
    <!--datatable starts from here -->
    <ngx-datatable #planNameList [rows]="planNameData" [columnMode]='"force"' class='bootstrap'
      [footerHeight]="50" [rowHeight]="'auto'"  [virtualization]="false" [externalPaging]="true"
      [count]="planNamePage.totalElements" [offset]="planNamePage.pageNumber" [limit]="planNamePage.size"
      [scrollbarH]="true" (page)="planNameSetPage($event)" [externalPaging]="true" [virtualization]="false">

      <ngx-datatable-column name="Plan Name" [sortable]="false" prop="plan_name" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
        <!-- <ng-template ngx-datatable-cell-template let-row="row"
									*ngFor="let rowPlanName of planNameData">
									{{rowPlanName.planName}}
                </ng-template> -->
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{row.plan_name ||'N/A'}}" container="body">
                    {{row.plan_name ||'N/A'}}</div>
                </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Comments" [sortable]="false" prop="comments" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="tooltip-outer" tooltipClass="table-custom-tooltip" ngbTooltip="{{row.comments ||'N/A'}}" container="body">
            {{row.comments ||'N/A'}}</div>
        </ng-template>
        <!-- <ng-template ngx-datatable-cell-template let-row="row"
									*ngFor="let rowPlanName of planNameData">
									{{rowPlanName.planName}}
								</ng-template> -->
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [width]="150" [sortable]="false" cellClass="action-icon" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
        <ng-template ngx-datatable-header-template name="Actions">
          <mat-checkbox *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_edit)"
            (change)="$event ? masterPlanNameToggle() : null"
            [checked]="planSelection.hasValue() && isPlanNameSelected()"
            [indeterminate]="planSelection.hasValue() && !isPlanNameSelected()" disabled>
          </mat-checkbox>
          <!-- <label>
                                            <input id="intake4" name="" value="" type="checkbox">
                                            <span class="fake-input position-absolute"></span>
                                          </label> -->
          Actions

        </ng-template>

        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">

          <!-- <label for="intake4" class="chkbox position-relative mt-1">
                                            <input id="intake4" name="" value="" type="checkbox">
                                            <span class="fake-input position-absolute"></span>
                                          </label> -->
          <mat-checkbox *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_edit)"
            (click)="$event.stopPropagation()" (change)="$event ? planSelection.toggle(row) : null"
            [checked]="planSelection.isSelected(row)" disabled>
          </mat-checkbox>

          <a *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_edit)" class="edit-hov mx-1"
            (click)="editPlanName(planNameEditform,row,rowIndex)" ngbTooltip="Edit" container="body" href="javascript:void(0)"
            role="button"><i class="icon-pencil"></i></a>

            <a class="edit-hov mx-1" ngbTooltip="History" container="body" (click)="planNameHistoryStats(row)">
              <i class="fa fa-history"></i>
            </a>

          <!-- <lib-task-manager selectedProps="{{PlanNamestringfy([row])}}" type="icon" id="{{row.id}}" page="plan_name">
          </lib-task-manager> -->

          <!-- <a class="tasks-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button">
											<i class="fa fa-tasks"></i></a> -->

          <!-- <a *ngIf="aclService.hasPermission(userPermissions.master_billing_plan_name_delete)"
										class="remove-hov mx-1" (click)="deleteOnePlanNameRecord(row)" tooltip="Delete"
										href="javascript:void(0)" role="button">
										<span class="icon-remove"></span></a> -->


          <!-- <button class="pencil-hov mx-2" 
                                     data-original-title="Edit" 
                                     title="Edit" 
                                   
                                     tooltip="Edit" 
                                     role="button">
                                         <i class="icon-pencil"></i>
                                    </button>

                                     <a class="print-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button">
                                        <img src="assets/images/task-complete1.png" style="width: 15px;
                                        margin-top: -3px;">
                                    </a>

                                    <a class="delete-hov mx-2" tooltip="Delete" 
                                    href="javascript:void(0)" role="button" 
                                   ><i
                                      class="icon-remove"></i>
                                  </a> -->

        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
    <!--datattable ends here-->

    <!-- <div class="card-body" style="border: none; background: transparent;  padding:0px;">
                                      <table class="table table-bordered table-striped text-center mb-0">
                                          <thead>
                                            <tr>
                                              <th style="width: 50%;" class="border-right" scope="col">Plan Name</th>
                                              <th class="form" scope="col"> <label for="intake4" class="chkbox position-relative mt-1">
                                                      <input id="intake4" name="" value="" type="checkbox">
                                                      <span class="fake-input position-absolute"></span>
                                                    </label> Actions</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td></td>
                                              <td class="form">
                                                  <label for="intake4" class="chkbox position-relative mt-1">
                                                    <input id="intake4" name="" value="" type="checkbox">
                                                    <span class="fake-input position-absolute"></span>
                                                  </label>
                                                          <a class="tasks-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button"><i
                                                              class="fa fa-tasks"></i></a>    
                                                    <a class="delete-hov mx-2" tooltip="Delete" href="javascript:void(0)" role="button">
                                                          <span class="icon-remove"></span></a>
                                                          <a class="pencil-hov mx-2" tooltip="Edit" href="javascript:void(0)" role="button"><i
                                                            class="icon-pencil"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="form">
                                                    <label for="intake4" class="chkbox position-relative mt-1">
                                                      <input id="intake4" name="" value="" type="checkbox">
                                                      <span class="fake-input position-absolute"></span>
                                                    </label>
                                                            <a class="tasks-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button"><i
                                                                class="fa fa-tasks"></i></a>    
                                                      <a class="delete-hov mx-2" tooltip="Delete" href="javascript:void(0)" role="button">
                                                            <span class="icon-remove"></span></a>
                                                            <a class="pencil-hov mx-2" tooltip="Edit" href="javascript:void(0)" role="button"><i
                                                              class="icon-pencil"></i></a>
                                                  </td>
                                              </tr>

                                              <tr>
                                                  <td></td>
                                                  <td class="form">
                                                      <label for="intake4" class="chkbox position-relative mt-1">
                                                        <input id="intake4" name="" value="" type="checkbox">
                                                        <span class="fake-input position-absolute"></span>
                                                      </label>
                                                              <a class="tasks-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button"><i
                                                                  class="fa fa-tasks"></i></a>    
                                                        <a class="delete-hov mx-2" tooltip="Delete" href="javascript:void(0)" role="button">
                                                              <span class="icon-remove"></span></a>
                                                              <a class="pencil-hov mx-2" tooltip="Edit" href="javascript:void(0)" role="button"><i
                                                                class="icon-pencil"></i></a>
                                                    </td>
                                                </tr>
  
                                                <tr>
                                                    <td></td>
                                                    <td class="form">
                                                        <label for="intake4" class="chkbox position-relative mt-1">
                                                          <input id="intake4" name="" value="" type="checkbox">
                                                          <span class="fake-input position-absolute"></span>
                                                        </label>
                                                                <a class="tasks-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button"><i
                                                                    class="fa fa-tasks"></i></a>    
                                                          <a class="delete-hov mx-2" tooltip="Delete" href="javascript:void(0)" role="button">
                                                                <span class="icon-remove"></span></a>
                                                                <a class="pencil-hov mx-2" tooltip="Edit" href="javascript:void(0)" role="button"><i
                                                                  class="icon-pencil"></i></a>
                                                      </td>
                                                  </tr>
  
                                                  <tr>
                                                      <td></td>
                                                      <td class="form">
                                                          <label for="intake4" class="chkbox position-relative mt-1">
                                                            <input id="intake4" name="" value="" type="checkbox">
                                                            <span class="fake-input position-absolute"></span>
                                                          </label>
                                                                  <a class="tasks-hov mx-2" tooltip="Task" href="javascript:void(0)" role="button"><i
                                                                      class="fa fa-tasks"></i></a>    
                                                            <a class="delete-hov mx-2" tooltip="Delete" href="javascript:void(0)" role="button">
                                                                  <span class="icon-remove"></span></a>
                                                                  <a class="pencil-hov mx-2" tooltip="Edit" href="javascript:void(0)" role="button"><i
                                                                    class="icon-pencil"></i></a>
                                                        </td>
                                                    </tr>
                                          
                                          </tbody>
                                        </table>
                                </div>
           -->
    <!-- <div class="card-footer text-muted">
                                      <div class="row">
                                          <div class="col-md-6 text-start">
                                                  <p>Showing 1 to 5 of 337 entries</p>
                                          </div>
                                          <div class="col-md-6 justify-content-end d-flex">
                                              <nav aria-label="Page navigation example">
                                                      <ul class="pagination mb-0">
                                                        <li class="page-item">
                                                          <a class="page-link" href="#" aria-label="Previous">
                                                            <img src="assets/images/left.png">
                                                          </a>
                                                          
                                                        </li>
                                                  
                                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                  
                                                        <li class="page-item">
                                                              <a class="page-link" href="#" aria-label="Previous">
                                                                <img src="assets/images/right.png">
                                                              </a>
                                                              
                                                            </li>
                                                    <li class="page-item">
                                                          <a class="page-link" href="#" aria-label="Next">
                                                                  <img src="assets/images/next.png">
                                                              </a>
                                                    
                                                    </li>
                                                
                                                  </ul>
                                                </nav>
                                          </div>
                                  </div>
                                </div>
                               -->

  </div>

</div>
<ng-template #plan_name let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Add Plan Name</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="resetModel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-pt-15">
    <form [formGroup]="planNameCreateform" (ngSubmit)="onPlanNameSubmit(planNameCreateform.value)" autocomplete="">
      <div class="row">
		  
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label class="form-label">Plan Name*</label>
            <input type="text" class="form-control mb-0" formControlName="plan_name" notFirstCharactorSpace>
            <small class="form-text text-muted danger"
              *ngIf="planNameCreateform.get('plan_name').errors?.required && planNameCreateform.get('plan_name').touched">This field is required</small>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label">Comments</label>
            <textarea class="form-control" rows="3" formControlName="comments" notFirstCharactorSpace></textarea>
            <small class="form-text text-muted danger"
              *ngIf="planNameCreateform.get('comments').errors?.required && 
                            (planNameCreateform.get('comments').dirty || planNameCreateform.get('comments').touched)">Please enter comments!</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 modal-btn-width text-center">
          <button type="button" class="btn btn-primary me-3" data-dismiss="modal"
            (click)="resetModel()">Cancel</button>
          <button type="submit" [disabled]="isDisabledSaveContinue()" class="btn btn-success">Save & Continue</button>
        </div>
      </div>

    </form>
  </div>
</ng-template>
<!-- </div>
        </div>
      </div> -->
<!-- 
      <div class="modal fade" id="edit-plan-name" tabindex="-1" role="dialog" aria-labelledby="add-insurance" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered add-visit-popup" role="document">
          <div class="modal-content"> -->
<ng-template #planNameEditform let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Plan Name</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetModel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-pt-15">
    <form [formGroup]="editPlanNameform" (ngSubmit)="editPlanNameSubmit(editPlanNameform.value)" autocomplete="">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group mb-1">
            <label class="form-label">Plan Name*</label>
            <input type="text" class="form-control mb-0" formControlName="plan_name" notFirstCharactorSpace>
            <small class="form-text text-muted danger"
              *ngIf="editPlanNameform.get('plan_name').errors?.required && 
                            (editPlanNameform.get('plan_name').dirty || editPlanNameform.get('plan_name').touched)">This field is required</small>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label">Comments</label>
            <textarea class="form-control" rows="3" formControlName="comments" notFirstCharactorSpace></textarea>
            <small class="form-text text-muted danger"
              *ngIf="editPlanNameform.get('comments').errors?.required && 
                            (editPlanNameform.get('comments').dirty || editPlanNameform.get('comments').touched)">Please enter comments!</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 modal-btn-width text-center">
          <button type="button" class="btn btn-primary me-3" data-dismiss="modal"
            (click)="resetModel()">Cancel</button>
          <button type="submit" [disabled]="isDisabledUpdate()" class="btn btn-success">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<div class="modal fade modal-scroll" bsModal #CustomizeColumnModal="bs-modal"
  [config]="{backdrop:'static',keyboard:false}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" style="padding-top: 4px;">Customize Columns</h4>
        <button type="button" class="close ms-0" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-customize-column [modalCols]="modalCols" (event)="onSelectHeaders($event)" (singleSelection)="onSingleSelection($event)"></app-customize-column>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary me-2"(click)="onCancel()">Cancel</button>
        <button type="button" class="btn btn-success " (click)="onConfirm(true)">Save</button>
      </div>
    </div>
  </div>
</div>
