.btn-outline-secondary {
	background-color: white !important;
	color: #6d6969;
	border-color: #6c757d;
}

.btn-outline-secondary:hover {
	background-color: #34c3ee !important;
	border-color: #34c3ee;
	color: white
}

.btn-outline-secondary:active {
	background-color: #34c3ee !important;
}


textarea {
	height: 60px !important;
	resize: none;
}