<!-- <div id="wrapper">
	<header id="header">
		<app-main-header></app-main-header>
		<app-front-desk-navbar></app-front-desk-navbar>
	</header>
	<main id="main">
		<perfect-scrollbar>
			<div class="main-container">

				<app-profile-header [data]="appointmentDetail?.patient"></app-profile-header>

				 <app-sidebar-left></app-sidebar-left> 

				 <div class="user-info">
				<div class="row">
					<div class="col-md-12">
						<h4 class="my-0 color-green ps-3 mb-1">Manual Specialty</h4>
					</div>
				</div>
			</div> 

				<app-sidebar-right></app-sidebar-right>


				<router-outlet></router-outlet>

			</div>

			<footer>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>Copyrights@ovada.com</p>
					</div>
				</div>
			</footer>
		</perfect-scrollbar>
	</main> -->
<!-- </div> -->



<div class="manual-specialitie">

	<app-profile-header [data]="appointmentDetail?.patient"></app-profile-header>

	<!-- <app-sidebar-left></app-sidebar-left> -->

	<!-- <div class="user-info">
	<div class="row">
		<div class="col-md-12">
			<h4 class="my-0 color-green ps-3 mb-1">Manual Specialty</h4>
		</div>
	</div>
</div> -->

	<!-- <app-sidebar-right></app-sidebar-right> -->


	<router-outlet></router-outlet>

</div>