
::ng-deep .ngx-datatable.bootstrap .datatable-body .row-color .datatable-body-cell{
    background-color: rgb(228, 228, 228) !important;  
}


.ngx-datatable .ng-select {
    display: inline-block;
    margin-left: 5px;
    &.ng-select-single {
        width: auto;
    }
}
.show-entries {
    p{
        margin-bottom: 0;
    }
    .ng-select {
        margin: 0 .25rem;
        max-width: 55px !important;

    }
}

.edit-doc-align{
    label{
        padding: 0;
    }
    .edit-doc-field{
        padding: 0;
        padding-left: 4px;
        @media (max-width: 576px) {
            padding-left: 0;
        }
    }
 }

 .add-tag-btn {
  &:hover {
    border: 0 !important;
  }
 }