<nav class="left-nav p-0">
	<ul class="list-unstyled">
	  <li class="button--wayra">
		<a class="d-block" routerLink="/front-desk/masters/erx/pharmacy/list"
		  routerLinkActive="active">Pharmacy</a>
	  </li>
	  <li class="button--wayra">
		<a class="d-block" routerLink="/front-desk/masters/erx/proofing-license/list"
		  routerLinkActive="active">Proofing License</a>
	  </li>
	  <!-- <li class="button--wayra">
		<a class="d-block" routerLink="/front-desk/masters/erx/reactions"
		  routerLinkActive="active">Reactions</a>
	  </li> -->
	  <li class="button--wayra">
		<a class="d-block" routerLink="/front-desk/masters/erx/erx-override-reason"
		  routerLinkActive="active">Erx Override Reason</a>
	  </li>
	</ul>
  </nav>
