

<div class="edit-block custom-tooltip-hov align-items-end align-items-sm-center">
    <h6 class="color-blue mb-3">{{title}}
    </h6>
</div>
<div class="card card-bg-white pb-0 mt-0">
    <dynamic-form [fields]="fieldConfig" (onReady)="onReady($event)" #dynamiccomponent (submit)="onSubmit($event)"></dynamic-form>
	<app-medications-listing [hidden]="hideMedicationsListingComponent" [MriData]="MRIData" #medicationsListingComponent (hasListData)="hasMedicationListData($event)"></app-medications-listing>
	<!-- {{form?.value | json}} -->
</div>





