// @import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/newStyle.css";
@import './assets/fonts-temp/css/all.min.css';
@import './assets/fonts-temp/fonts.css';
.canvas-proportion {
    border: 1px solid #a2a3a2 !important;
}

.color-canvas {
    border: 0;
    background-color: #ebebeb;
}

.fs-18 {
    font-size: 18px;
}

.fs-30 {
    font-size: 30px;
}