// font-family variable
$font-family: 'Poppins', Arial, Helvetica, sans-serif;

// font-weight variables
$light: 100;
$sm-regular: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black-weight: 900;

// Other Variables
$base-px-value: 16px;
$default-px-value: 16;
