.currency {
	padding-left: 25px !important;
}

.fa-dollar-sign {
	position: absolute;
    top: 31px;
    font-size: 14px;
    left: 10px;
    color: #4b4b4b;
}
.date-field{
	background-color: white !important;
}

.pdf-view {
	position: absolute;
    right: 10px;
    top: 28px;
}
.check-no-margin{
    margin-top: -5px;
}