.pop {
    height: 50px;
    width: 40%;
    margin-left: 20px;
    border: 1px solid saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body.template-manager .ngx-cool-dialog__cancel-btn {
		white-space:pre;
}
.table-with-borders {
    border: 1px solid lightgrey !important;
}
.gridster-item-content dl,
ol,
ul {
    margin-bottom: 0px;
    padding-left: 20px;
}
.complete-section {
    position: absolute;
    top: 0px;
    right: 3px;
    font-size: 13px;
    color: #00a650;
}
.icon2-edit {
    color: white !important;
}
.check-option:hover .complete-section {
    color: #fff;
}
.check-option.active .complete-section {
    color: #fff;
}
#template-manager .instance-container .check-option {
    position: relative;
    padding-right: 20px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.example-box {
    cursor: move;
    background: white;
    font-size: 14px;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.editor-tag .autocomplete-container .input-container .x {
    right: 5px;
    top: 3px;
    transform: none;
}
.editor-tag .autocomplete-container .input-container .x i {
    font-size: 16px;
}
.editor-tag {
    cursor: text;
    font-size: 16px;
    padding: 5px 5px 2px;
    border-radius: 4px;
    background: #fdf7fa;
    border: 1px #d3cfd1 solid;
    & .tag-item {
        line-height: 20px;
        border-radius: 14px;
        height: 20px;
        font-size: 14px;
        display: inline-block;
        background: gray;
        color: white;
        padding-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 15px;
        white-space: nowrap;
        max-width: 100%;
        position: relative;
        .remove-tag {
            cursor: pointer;
            z-index: 9;
        }
        .remove-tag:hover {
            color: red;
        }
    }
    & .tag-item:not(:first-child) {
        margin-left: 5px;
    }
    & input {
        margin: 0;
        border: none;
        outline: none;
        border-radius: 5px;
    }
}
#template-manager .main-section.full-Section {
    width: 1%;
}
.card .card-header {
    background: #f7f7f7;
    padding: .5rem .5rem;
    border-radius: 0;
    border-bottom: 1px solid #e2e2e2;
}
.card .card-header .card-title {
    font-size: 14px;
    line-height: normal;
    color: #888888;
    margin: 0;
    font-family: 'Robo to', sans-serif;
    font-weight: 600;
    padding: 5.5px 0 3px 5.5px;
}
.card-header .card-action {
    float: right;
}
.card-header .card-action a {
    color: #888888;
    font-size: 17px;
    display: inline-block;
    margin-right: 4px;
}
.card-header .card-action a:hover {
    color: #00a650;
}
.card-header .card-action a.action-danger:hover {
    color: #c1272d;
}
.card-header .card-action a.action-warning:hover {
    color: #ffd200;
}
.card-header .card-action a.toggle {
    font-size: 15px;
}
.card-header.section-header {
    background: #dedede !important;
    padding: .2rem;
}
.card .card-header .card-action a.toggle.collapsed:before {
    content: "\e902";
}
.card .card-header .card-action a.toggle:before {
    content: "\e908";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
.card .card-header.collapsed {
    background: #fcfcfc;
    cursor: pointer;
}
.card .card-header.collapsed .card-action a.toggle:before {
    content: "\e902";
}
.card .card-header .card-action a.toggle:before {
    content: "\e908";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
.card .card-body {
    border: none;
    padding: 1rem;
}
.card .card-section-title {
    font-size: 14px !important;
    line-height: normal;
    color: #888888 !important;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    padding: 5px 0 3px 5px;
}
.card.primary-section .card-header .card-section-title {
    position: relative;
    cursor: all-scroll;
    padding-left: 15px;
}
.card.primary-section .card-header .card-section-title:before {
    content: "\e90a";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    position: absolute;
    left: 3px;
    top: 4px;
    color: #e1e1e1;
    font-size: 20px;
}
.card.secondary-section {
    margin: 0 -1.07rem -1.07rem;
}
.card.secondary-section .card-header .card-section-title {
    position: relative;
    cursor: all-scroll;
    padding-left: 15px;
}
.card.secondary-section .card-header .card-section-title:before {
    content: "\e90a";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    position: absolute;
    left: 3px;
    top: 4px;
    color: #e1e1e1;
    font-size: 20px;
}
.card.secondary-section .card-header.section-header {
    background: #fff;
}
.cke_toolbar_separator {
    display: none;
}
.angular-editor-button[title="HTML Code"],
.angular-editor-button[title="Superscript"],
.angular-editor-button[title="Subscript"],
.angular-editor-button[title="Indent"],
.angular-editor-button[title="Outdent"],
.angular-editor-button[title="Unordered List"],
.angular-editor-button[title="Background Color"],
.angular-editor-button[title="Unlink"],
.angular-editor-button[title="Insert Image"],
.angular-editor-button[title="Insert Video"],
.angular-editor-button[title="Horizontal Line"],
.angular-editor-button[title="Ordered List"],
.angular-editor-button[title="Strikethrough"],
.angular-editor-button[title="select-heading"],
.angular-editor-button[title="select-font"],
.angular-editor-button[title="Clear Formatting"],
.angular-editor-button[title="Text Color"] {
    display: none !important;
}
.angular-editor-button[title="Undo"] {
    margin-left: 7px;
}
.angular-editor-toolbar-set {
    padding-top: 3px;
    margin-right: 0px !important;
}
.angular-editor-toolbar-set .font-size-display {
    display: inline-block !important;
}
.no-left-section .angular-editor-toolbar .angular-editor-toolbar-set button.angular-editor-button {


}
.angular-editor-textarea {
    margin-top: 0px !important;
}
.angular-editor-toolbar {
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
}
.angular-editor-toolbar .angular-editor-toolbar-set {
    padding: 0;
}
body.template-manager {
    color: #888888;
}
.column-action {
    position: absolute;
    right: 0px;
    top: 0px;
}
.column-action a {
    color: #c1272d;
    font-size: 18px;
    border-radius: 16px;
    box-shadow: 1px 1px 10px #00000029;
    display: block;
    line-height: 13px;
    background: #fff;
}
.column-action .dropdown-menu.show {
    border-color: #c1272d !important;
}
.column-content .column-action .dropdown-menu.show:before {
    border-color: #c1272d transparent;
}
table.table-drop tr td.active-column {
    background: #34c3ee05;
}
.column-content {
    padding: 10px;
    position: relative;
}
.action-box {
    position: relative;
    z-index: 99;
}
.action-box .row-actions {
    position: absolute;
    right: -2px;
    bottom: -4px;
}
.action-box .row-actions a {
    display: inline-grid;
    font-size: 16px;
    color: #888;
    margin: 0 2px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #0000000d;
}
.manager-header-footer-preview #template-manager .card .card-header .top-btn .btn{
    font-size: 12px !important;
    padding: 0.2rem 0.6rem !important;
}
.manager-header-footer-preview #template-manager .card .card-header .top-btn .redu-undo .btn{
    padding:0.3rem 0.4rem 0.1rem 0.4rem !important;
}
.manager-header-footer-preview #template-manager .card .card-header .top-btn .redu-undo .btn + .btn {
    border-left: 1px solid #e1e1e1 !important;
}
.l-scroll {
    max-height: 29vh !important;
    overflow-y: auto !important;
    padding-right: 2px !important;
}
.size-icon {
    font-size: 15px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.45rem 0.75rem;
    background-color: #f7f7f7;
    border: 0px solid rgba(0,0,0,.125);
}
.row-number-div{
    height: 30px;
}
.slick-list {
    position: relative;
    overflow: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.cursor-pointer{
	cursor: all-scroll !important;
}


@media screen and (max-width:1024px) and (min-width:768px) {
    .manager-header-footer-preview #template-manager .card .card-header .top-btn .btn{
        font-size: 12px !important;
        padding: 0.2rem 0.4rem !important;
    }
}

  
  .cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
				0 8px 10px 1px rgba(0, 0, 0, 0.14),
				0 3px 14px 2px rgba(0, 0, 0, 0.12);
				
  }
  
  .cdk-drag-placeholder {
	opacity: 0;
	
  }
  
  .cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	
  }
  
  .example-box:last-child {
	border: none;

  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  }
  .options-box{
	padding : 1px 1px;
	background: rgb(247, 247, 247);
  }


  .custom-modal-integration {
	.modal-dialog {
        min-height: auto;
		.modal-content {
			padding: 15px 30px 30px 30px;
			overflow-y: auto !important;
			height: 90vh;
		}
	}
	@media (min-width: 576px) {
		.modal-dialog {
			max-width: 95%;
			margin: 1.75rem auto;
		}
	}
    @media (max-width: 576px) {
		.modal-dialog {
            min-height: calc(100% - 0.5rem);
		}
	}
}