.card-body {
    min-height: 160px;
}

.icon-plus {
    background: none !important;
    transform: rotate(45deg);
    background: none; 
}

// .slide-btn {
//     &.btn-primary {
//         &:hover {
//             background: #4b4b4b !important;
//         }
//     }
// }