.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    white-space: wrap !important;
    display: flex;
    align-items: center;
    justify-content: center;
}