.radio-btn {
  position: relative;
  padding: 10px;
  input[type="radio"] {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    &:checked {
      & + .fake-radio-button {
        &:after {
          background: #00a650;
        }
      }
    }
  }
  span {
    &.fake-radio-button {
      width: 0.875rem;
      height: 0.875rem;
      border: 1px solid #00a650;
      border-radius: 100%;
      position: absolute;
      margin-top: -1px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 7px;
        border-radius: 100%;
      }
    }
    &.fake-radio-label {
      margin: 0 0 0 30px;
    }
  }

  &.radio-btn-with-border {
    display: inline-block;
    border: 1px solid #00a650;
    padding: 10px;
    &:hover {
      background: #ccdeccb0;
      border: 1px solid #00a650;
      color: #00a650;
      padding: 10px;
    }
  }
  &.radio-btn-with-bordered-background {
    display: inline-block;
    background: rgb(204, 200, 200);
    border: 1px solid #00a650;
    padding: 10px;
    &:hover {
      background: #00a650;
      border: 1px solid #00a650;
      color: #fff;
      padding: 10px;
    }
  }
}
