
<!-- wrapper -->
<!-- <div id="wrapper">
	<jaspero-alerts></jaspero-alerts>

	<header id="header">
		<app-main-header></app-main-header>
		<app-front-desk-navbar></app-front-desk-navbar>
	</header>

	<main id="main">
		<perfect-scrollbar>
			<div class="main-container">
				<div class="row user-info pt-2">
					<div class="col-12">
					  <h4 class="my-0 color-green">{{changeTextBulk?'Bill Reports By Specialty':'Created Bills'}}</h4>
					</div>
				  </div>

				  <hr class="line-bottom mb-3">
				
				<app-bill-listing [adminBilling] = "true" (updateGenertePacket) = "updateGenertePacket($event)" ></app-bill-listing>
			</div>
			<footer>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>Copyrights@ovada.com</p>
					</div>
				</div>
			</footer>
		</perfect-scrollbar>
	</main>
</div> -->

	<div class="row user-info pt-2">
		<div class="col-12">
		  <h4 class="my-0 color-green">{{changeTextBulk?'Bill Reports By Specialty':'Created Bills'}}</h4>
		</div>
	  </div>

	  <hr class="line-bottom mb-3">
	
	<app-bill-listing [adminBilling] = "true" (updateGenertePacket) = "updateGenertePacket($event)" ></app-bill-listing>
