@import './../../../../../../assets/sass/components/new-search-filters';


.mat-date-range-input-container {
    
    background: white !important;
    border: 1px solid lightgrey !important;
    border-radius: 4px !important;
    padding: 2px !important;

}


.mat-date-range-input-inner{
    font-size: 12px !important;
    color: #9e9c9c !important;
}


