<div class="position-relative">
    <app-shimmer-loader class="d-block" [ngClass]="{'shimer-control': loaderSpin}" [loaderSpin]="loaderSpin">
    </app-shimmer-loader>
    <app-medical-treatment-form [title]="'Edit Medical Treatment Information'" [caseId]="caseId">
    </app-medical-treatment-form>
</div>
<!-- <app-treatment-general-form [title]="'Edit General Treatment Information'" [caseId]="caseId" [caseData]="caseData" (getCase)="getCase()"></app-treatment-general-form>         -->
























<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <app-medical-treatment-form [title]="'Edit Medical Treatment Information'" (getCase)="getCase()" [caseId]="caseId" [caseData]="caseData"></app-medical-treatment-form>
            <app-treatment-general-form [title]="'Edit General Treatment Information'" [caseId]="caseId" [caseData]="caseData" (getCase)="getCase()"></app-treatment-general-form>
        </div>
    </div>
</div> -->