.btn-outline-secondary {
    border: 1px solid #8a8787 !important;
    color: #4b4b4b !important;
    background: #f1eaea;
}
.template_master_header{
    background: #4b4b4b;
    border: 1px solid #b0b1b1;
    border-radius: 6px 6px 0px 0px;
    padding: 0px 15px;
}
.template_master_header p{
    color: #fff !important;
    font-size: 11px;
}
.template_master_header_slide_btn{
    padding: 6px 7px 4px !important;
    border-radius: 0px 5px 0px 0px !important;
    border: none;
    color: #fff;
    right: -15px;
    margin-right: 0px !important;
    position: relative;
}
.template_master_header_slide_btn .icon-minus{
    font-size: 18px;
}
.header-set{
    flex: 0 0 31% !important;
    max-width: 31% !important;
}
.template-header{
    float: left;
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #c3c4c3 !important;
    border-radius: 6px 6px 0px 0px;
}
.table-border{
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #b0b1b1;
    border-radius: 6px 6px 0px 0px;
}
.sel{
    width: 96%;
    margin-left: 9px;
    margin-bottom: 10px;
}
