 
  .title{
  color: #212529;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px !important;
  
  }


  .modal-header .close {
	padding: 0rem !important;
  margin: 0rem 0rem 0rem auto !important;
  font-size: 18px;
	padding: 8px 15px;
  }
  