<div class="mat-tree-scroller">
<mat-tree *ngIf="dataSource.data.length" [dataSource]="dataSource" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding class="third-child">
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="permissionListSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)">
            {{node?.item}}
        </mat-checkbox>
    </mat-tree-node>
    
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" id="node{{node.id}}" matTreeNodePadding class="second-child">
        <button mat-icon-button matTreeNodeToggle class="icon-plus-um" [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'indeterminate_check_box' : 'add_box'}}
            </mat-icon>
        </button>
        <ng-container *ngIf="!descendantsAllSelected(node); else allSelected">
            <mat-checkbox [checked]="descendantsPartiallySelected(node)" [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
              {{node?.item}}
            </mat-checkbox>
          </ng-container>
          
          <ng-template #allSelected>
            <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
              {{node?.item}}
            </mat-checkbox>
          </ng-template>
    </mat-tree-node>
</mat-tree>
</div>


<folder-permission-tree [data]="dataObj"></folder-permission-tree>


<div *ngIf="!rolePriviligesInputData?.hideButtons" class="row">
    <div class="col-12 mt-3 text-center">
        <button class="btn btn-success me-2" *ngIf="aclService.hasPermission(userPermissions.setting_roles_and_permissions_update)"
            [disabled]="disabledButton || disablebtn" (click)="submit()"> Submit</button>
        <button class="btn btn-default color-white ms-1" (click)="cancel()">Cancel</button>
    </div>
</div>
